.img-thanks{
    margin: auto;
    margin-top: 20px;
}
.btn-back{
    margin: auto;
    display: block;
    text-align: center;
}
.btn-back button{
    width: 300px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    color: #fff;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid rgb(35, 35, 35);
    transition: .3s;
}
.btn-back button:hover{
    background-color: #fff;
    color: rgb(35, 35, 35);
}